language: java
cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/
jdk:
  - oraclejdk8
if: tag IS blank
script: "./travis/buildViaTravis.sh"

before_deploy:
  - ./gradlew goBuild
  on:
    branch: master

deploy:
  provider: releases
  api_key: "$PUSH_TOKEN"
  file_glob: true
  file: bin/*
  skip_cleanup: true
  on:
    branch: master